<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>AnimeSerch APP</title>
</head>
<body>
    <h2>Anime Serch App</h2>

    <form method="get" th:action="@{/titleserch}" class="search_container" style="position: absolute; right: 0px; top: 0px">
	  	<input type="text" size="25" placeholder=" アニメタイトル検索">
	 	<input type="submit" value="検索">
	</form>

    <hr />

    <h3>アニメタイトルで検索する</h3>
    <form method="get" th:action="@{/titleserch}">
        <p>アニメタイトル：<input type="text" name="animetitle" maxlength='31' placeholder='タイトルを入力してください' required /> ＊必須 <input type="submit" value="検索" /> </p>
        <p> <a th:href="@{/Refine}">絞り込み検索はこちらをクリック</a> </p>
        <p> <a th:href="@{/AgeSerch}">あなた年代に合ったおすすめアニメはこちらをクリック</a> </p>
    </form>
    
    <h3>検索結果</h3>
    <table border="1">
        <thead>
            <tr>
                <th bgcolor="#FFFFFF"><font color="#EE0000">タイトル</font></th>
                <th bgcolor="#FFFFFF"><font color="#EE0000">放映方法</font></th>
                <th bgcolor="#FFFFFF"><font color="#EE0000">放映開始年</font></th>
                <th bgcolor="#FFFFFF"><font color="#EE0000">原作</font></th>
                <th bgcolor="#FFFFFF"><font color="#EE0000">URL</font></th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="doc : ${result}">
                <td th:text="${doc.get(&#34;animetitle&#34;)}"> </td>
                <td th:text="${doc.get(&#34;medium&#34;)}"> </td>
                <td th:text="${doc.get(&#34;startedyear&#34;)}"> </td>
                <td th:text="${doc.get(&#34;animeauthor&#34;)}"> </td>
                <td th:text="${doc.get(&#34;madburl&#34;)}"> </td>
            </tr>
        </tbody>
    </table>
    

</body>
</html>